### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Did a total Player Count by counting the unique players of the length of the data frame; then displayed count in new data frame
player_count = len(purchase_data["SN"].unique())
total_player = pd.DataFrame({"Total Players": [player_count]})

total_player.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#creating variables to input into data frame
unique_items = len(purchase_data["Item Name"].unique())
total_rev = sum(purchase_data["Price"])
price_avg = purchase_data["Price"].mean()
num_purch = purchase_data["SN"].count()

#setting up my data frame with my column names:variable
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                          "Average Price": [price_avg], "Number of Purchases":[num_purch],
                           "Total Revenue":[total_rev]})

#in order for style to work -> have to do it at the data base level; then do the columns that need format
summary_df.head().style.format({"Average Price": "${:0,.2f}", 
                                 "Total Revenue": "${:0,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#creating variables to input into dataframe
unique_player = purchase_data.drop_duplicates(subset='SN')
total_count = unique_player['Gender'].value_counts()
total_percent = unique_player['Gender'].value_counts('Male')

gender_percents = total_percent * 100

#setting up my data frame with my column names:variable
genderCount_df = pd.DataFrame({"Total Counts": total_count,
                          "Percentage of Players": gender_percents})

#Display Gender counts and percentages
genderCount_df.head().style.format({"Percentage of Players": "{:0,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#creating grouped data frame based on Gender in purchase data frame
grouped_df = purchase_data.groupby(["Gender"])

#creating variables to find the amounts
avg_price_group = grouped_df['Price'].mean()
total_purch_group = grouped_df['Price'].sum()
purch_per_person = total_purch_group/total_count
purchase_count = grouped_df['Purchase ID'].count()

#put variables into a data frame
group_summary_df = pd.DataFrame({"Purchase Count":purchase_count,"Average Purchase Price": avg_price_group,
                          "Total Purchase Value": total_purch_group,"Avg Purchase per Person":purch_per_person})

#display Gender purchasing data frame
group_summary_df.head().style.format({"Average Purchase Price": "${:0,.2f}", 
                                 "Total Purchase Value": "${:0,.2f}","Avg Purchase per Person": "${:0,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#create bins with age ranges; create group names for the bins to go into
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#sort the Age into the bins
unique_player["Age Ranges"] = pd.cut(unique_player["Age"], bins, labels=age_names)

#create a group by the Age Range bin we created above
age_group= unique_player.groupby(["Age Ranges"])

#create variables 
age_count = age_group['Age'].count()
age_total = age_count.sum()
age_percent = (age_count/age_total)*100

#create data frame for new variables 
age_sum_df = pd.DataFrame({"Total Counts": age_count,"Percentage of Players":age_percent})

#display data frame -> not sure why getting red message; numbers appear correct
age_sum_df.head(10).style.format({"Percentage of Players": "{:0,.2f}%"})

C:\Users\Zech\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#using bins from the last data set
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=age_names)

#create another data frame for grouped Age Ranges 
age_range_group= purchase_data.groupby(["Age Ranges"])

#create the unique variables
purch_count = age_range_group['Purchase ID'].count()
price_avg_age = age_range_group['Price'].mean()
purch_total_person = age_range_group['Price'].sum()
purch_per_person = purch_total_person/age_count

#create data frame to put variables in
age_summary_df = pd.DataFrame({"Purchase Count":purch_count,"Average Purchase Price": price_avg_age,
                          "Total Purchase Value": purch_total_person,"Avg Total Purchase per Person": purch_per_person})

#display data frame for ages with purchasing information
age_summary_df.head(10).style.format({"Average Purchase Price": "${:0,.2f}", 
                                 "Total Purchase Value": "${:0,.2f}","Avg Purchase Price per Person": "${:0,.2f}",
                                      "Avg Total Purchase per Person": "${:0,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#create data frame with grouped player names
player_group_df = purchase_data.groupby('SN')

#create variables
purchases_player = player_group_df['Purchase ID'].count()
avg_price = player_group_df['Price'].mean()
total_purch_value = player_group_df['Price'].sum()

#put variables into data frame
top_purch_df = pd.DataFrame({"Purchase Count":purchases_player,"Average Price":avg_price, 
                            "Total Purchase Value":total_purch_value})

#sort the values by purchase count then avg price then total purch value
top_purch_df=top_purch_df.sort_values(by=['Purchase Count','Average Price','Total Purchase Value'],ascending = False)

#display player with most purchases 
top_purch_df.head().style.format({"Average Price": "${:0,.2f}", 
                                 "Total Purchase Value": "${:0,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#create data frame with only item id, item name, and price columns
items_df = purchase_data[["Item ID","Item Name","Price"]]

#group data frame by item id and item name
items_grouped = items_df.groupby(['Item ID','Item Name'])

#create variables
item_total = items_grouped['Item Name'].count()
item_price = items_grouped['Price'].mean()
item_purch_total = items_grouped['Price'].sum()

#put variables into data frame
item_summary_df = pd.DataFrame({"Purchase Count":item_total,"Item Price": item_price,
                          "Total Purchase Value": item_purch_total})

#sort data frame by purchase count
item_summary_df= item_summary_df.sort_values(by='Purchase Count',ascending = False)

#display data
item_summary_df.head().style.format({"Item Price": "${:0,.2f}", 
                                 "Total Purchase Value": "${:0,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#take same information as above -> just changing the sort by to total purchase value column
item_summary_df= item_summary_df.sort_values(by= 'Total Purchase Value',ascending = False)

#display data
item_summary_df.head().style.format({"Item Price": "${:0,.2f}", 
                                 "Total Purchase Value": "${:0,.2f}"})